services:
  sebt.portal.api:
    image: sebt.portal.api
    build:
      context: .
      dockerfile: src/SEBT.Portal.Api/Dockerfile
    ports:
          - "5280:8080"   # Maps localhost:5280 -> container:8080
    environment:
          - ASPNETCORE_ENVIRONMENT=Development
